.choose {
  margin-bottom: 200px;
  overflow-x: clip;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  column-gap: 100px;
  padding: 0 16px;
}

.container_aboutus {
  flex-direction: row-reverse;
}

.container_pricingplan {
  flex-direction: row-reverse;
}

.column:first-of-type {
  display: flex;
}

.textContainer {
  max-width: 548px;
  align-self: center;
}

.title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
}

.spoilers {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  outline: 1px solid transparent;
}

.button {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  padding: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #ffffff32;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.button::after {
  content: '';
  background-image: url('../../assets/icons/menu-arrow.svg');
  background-position: center;
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease;
}

.opened::after {
  content: '';
  position: absolute;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.description {
  margin: 0;
  margin-top: 12px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #d1d1d1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
  outline: 1px solid transparent;
}

.descriptionVisible {
  transition: max-height 0.7s ease;
  display: block;
  max-height: 200px;
}

.vrpersonContainer {
  position: relative;
  display: flex;
  max-width: 563px;
  max-height: 662px;
}

.vrpersonContainer::before {
  position: absolute;
  content: '';
  top: 40%;
  left: 55%;
  width: 100%;
  height: 50%;
  background: linear-gradient(90deg, #0cbcf1c9 -5%, #e95ce9c5 100%);
  filter: blur(100px);
  border-radius: 10% 20% 100% 40%;
  transform: rotate(-20deg) translateZ(0) translateX(-50%) translateY(-50%);
  -webkit-transform: rotate(-20deg) translateZ(0) translateX(-50%) translateY(-50%);
  z-index: -1;
}

.vrperson {
  width: 100%;
  height: 100%;
}

.video {
  width: 196px;
  height: 128px;
  background-color: #21232e;
  position: absolute;
  margin-left: 0;
  overflow: hidden;
  bottom: -37px;
  right: 85px;
}

.video_aboutus {
  right: 15px;
  bottom: -50px;
}

.video_pricingplan {
  right: 15px;
  bottom: -50px;
}

.video::after {
  content: '';
  background-image: url('../../assets/icons/play-button.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.video:hover::after {
  transform: scale(1.2);
}

.videoImage {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/article-images/9.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease;
}

.videoImage_aboutus {
  background-image: url('../../assets/background-elements/video-image2.png');
  background-size: 70%;
}

.videoImage_pricingplan {
  background-image: url('../../assets/background-elements/video-image2.png');
  background-size: 70%;
}

.video:hover .videoImage {
  transform: scale(1.1);
}

.background {
  position: absolute;
  background-color: #252532;
  width: 70%;
  height: 76%;
  z-index: -2;
  bottom: 0;
  left: 65px;
}

.background_aboutus {
  width: 79%;
  height: 86%;
  left: 20px;
}

.background_pricingplan {
  width: 79%;
  height: 86%;
  left: 20px;
}

@media screen and (max-width: 1230px) {
  .container {
    column-gap: 30px;
  }

  .title {
    font-size: 32px;
  }

  .column:first-of-type {
    flex: 1 0 50%;
  }

  .column:last-of-type {
    flex: 1 0 50%;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 80px;
  }

  .background {
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
  }

  .vrpersonContainer::before {
    filter: blur(70px);
  }
}

@media screen and (max-width: 480px) {
  .video {
    width: 145px;
    height: 95px;
    right: 40px;
  }

  .button {
    font-size: 16px;
  }

  .vrpersonContainer::before {
    filter: blur(55px);
  }
}
