.benefits {
  margin-bottom: 150px;
  position: relative;
  overflow-x: clip;
  z-index: -1;

}

.benefits::before {
  position: absolute;
  content: '';
  background-image: url('../../assets/background-elements/net.svg');
  background-repeat: no-repeat;
  left: 0;
  top: -60%;
  width: 1100px;
  height: 721px;
  z-index: -2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 54px;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 708px;
}

.title {
  margin: 0;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .benefits::before {
    top: -20%;
  }

}

@media screen and (max-width: 768px) {
  .container {
    row-gap: 20px;
  }

  .title {
    font-size: 32px;
  }

  .benefits::before {
    top: -50%;
  }
}

@media screen and (max-width: 320px) {
  .benefits::before {
    top: -35%;
  }
}