.vrService {
  margin-bottom: 200px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 16px;
}

.circlesBackground {
  background-image: url('../../assets/background-elements/detail-service-circle.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1055px;
  height: 1055px;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circles {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.circle {
  background-image: url('../../assets/background-elements/detail-service-bg-inactive.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 102px;
  height: 102px;
  max-width: 102px;
  max-height: 102px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition: background-image 0.3s ease-in-out, transform 0.3s ease;
  transform-origin: center center;
}

.circle:hover {
  background-image: url('../../assets/background-elements/detail-service-bg-active.svg');
  background-repeat: no-repeat;
  width: 102px;
  height: 102px;
  z-index: 2;
  transition: background-image 0.3s ease-in-out;
}

.circleActive {
  background-image: url('../../assets/background-elements/detail-service-bg-active.svg');
}

.circleText {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  width: 80%;
  text-align: center;
}

.circle1 {
  position: absolute;
  top: 45.2%;
  left: calc(0% + 2%);
}

.circle2 {
  position: absolute;
  top: calc(21.9% + 2%);
  left: calc(6.1% + 2%);
}

.circle3 {
  position: absolute;
  top: calc(6.1% + 2%);
  left: calc(21.8% + 2%);
}

.circle4 {
  position: absolute;
  top: calc(0% + 2%);
  left: 45.2%;
}

.circle5 {
  position: absolute;
  top: calc(6.1% + 2%);
  right: calc(21.5% + 2%);
}

.circle6 {
  position: absolute;
  top: calc(21.9% + 2%);
  right: calc(6.1% + 2%);
  display: flex;
}

.circle7 {
  position: absolute;
  top: 45.2%;
  right: calc(0% + 2%);
}

.textContainer {
  max-width: 627px;
  width: 100%;
  margin-top: 235px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: all;
}

.textContainerActive {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
  max-width: 708px;
  text-align: center;
}

.text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #d1d1d1;
}

.text:first-of-type {
  margin: 0;
}

.text:nth-of-type(2) {
  margin-bottom: 52px;
}

.text:last-of-type {
  margin-bottom: 32px;
}

.listContainer {
  margin-bottom: 32px;
  border-image: linear-gradient(90deg, #585858 0%, #7e7e7e13 100%) 1;
  border-width: 1px;
  border-style: solid;
  background-color: #252532b0;
}

.listTitle {
  margin: 0;
  padding-left: 32px;
  padding-right: 59px;
  padding-top: 30px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.list {
  margin: 0;
  list-style-type: none;
  padding-left: 32px;
  padding-right: 59px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.listItem {
  margin: 0;
  padding-left: 30px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
}

.listItem::before {
  position: absolute;
  content: url('../../assets/icons/checkbox.svg');
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}

.button {
  width: 174px;
  height: 50px;
  outline: none;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 14px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  z-index: -1;
}

.button:hover:before {
  opacity: 1;
}

.arrowButtons {
  display: none;
}

@media screen and (max-width: 992px) {
  .arrowButtons {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 55px;
  }

  .arrowButtonRight {
    background-image: url('../../assets/icons/arrow-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    scale: 1.5;
    cursor: pointer;
  }

  .arrowButtonLeft {
    background-image: url('../../assets/icons/arrow-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    scale: 1.5;
    cursor: pointer;
  }

  .arrowInvisible {
    visibility: hidden;
  }
}

@media screen and (max-width: 576px) {
  .text {
    text-align: center;
  }
}