.articlePage {
  padding-top: 165px;
  margin-bottom: 150px;
  position: relative;
}

.articlePage::before {
  position: absolute;
  content: '';
  background-image: url('../../assets/background-elements/topWaves.svg');
  right: 0;
  top: 0;
  width: 736px;
  height: 353.2px;
  z-index: -2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.path {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  position: relative;
}

.pathText {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}

.pathLink {
  color: var(--white);
  text-decoration: none;
}

.pathSpan {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-2);
}

.arrow {
  transform: rotate(-90deg);
}

.content {
  display: flex;
  column-gap: 77px;
}

.column:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 790px;
  flex-shrink: 1;
}

.articleSpan {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px 10px;
  border-radius: 16px;
  user-select: none;
}

.articleTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
}

.articleSubtitle {
  margin: 0;
  margin-bottom: 24px;
  display: inline-block;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

.articleMainImageContainer {
  max-width: 789px;
  margin-bottom: 30px;
}

.articleMainImage {
  max-width: 100%;
  object-fit: cover;
}

.articleText {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: var(--grey-2);
}

.articleImagesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 34px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.articleImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postTagsTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}

.postTags {
  margin: 0;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  filter: saturate(2.5);
}

.shareTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}

.shareContainer {
  display: flex;
  column-gap: 24px;
}

.shareIcon {
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.shareIcon:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.column:last-of-type {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  row-gap: 64px;
}

.subsubtitle {
  margin: 0;
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: 500;
}

.hashTags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3px;
  row-gap: 13px;
  max-width: 340px;
}

.hashTag {
  margin: 0;
  font-size: 11px;
  line-height: 15.5px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px 10px;
  border-radius: 16px;
  user-select: none;
}

@media screen and (max-width: 1200px) {
  .content {
    column-gap: 50px;
  }

  .column:last-of-type {
    flex-shrink: 0;
    flex-basis: 35%;
  }
}

@media screen and (max-width: 992px) {
  .pathSpan {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-wrap: wrap;
  }

  .content {
    column-gap: 30px;
  }

  .articleTitle {
    font-size: 32px;
    line-height: normal;
  }

  .articleImagesContainer {
    margin-top: 8px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    row-gap: 80px;
  }
}

@media screen and (max-width: 480px) {
  .articleTitle {
    font-size: 24px;
  }
}
