.service {
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 16px;
}

.container::before {
  position: absolute;
  content: '';
  top: -50px;
  right: -80px;
  width: 40%;
  height: 25%;
  background: linear-gradient(90deg, #0cbcf1c9 -5%, #e95ce9c5 100%);
  filter: blur(100px);
  border-radius: 10% 20% 100% 40%;
  transform: rotate(-20deg);
  z-index: -1;
}

.container_ourservice::before {
  background: none;
}

.row {
  display: flex;
  margin-bottom: 46px;
  justify-content: space-between;
  column-gap: 30px;
  margin-right: 40px;
}

.row:last-of-type {
  margin-bottom: 0;
  margin-right: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.column:first-of-type {
  align-items: flex-start;
  flex: 1 0 300px;
}

.column:last-of-type {
  margin-right: 0;
  max-width: 625px;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #d1d1d1;
}

.title {
  margin: 0;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
}

.cardList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px;
  position: relative;
}

.card {
  max-width: 379px;
  height: 291px;
  background-color: #252532;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 38px 39px 25px 32px;
  border: 1px solid #b0b0b2;
  border-image: linear-gradient(90deg, #585858 0%, #7e7e7e13 100%) 1;
  position: relative;
  transition: border-image 0.3s ease-in-out;
  cursor: pointer;
}

.card_mobile {
  display: grid;
  grid-template-areas:
    'icon button'
    'title title'
    'text text';
}

.card:hover {
  border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
  opacity: 1;
  transition: border-image 0.3s ease-in-out;
}

.card:hover .button {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
}

.card_mobile:hover .button {
  transform: none;
}

.card:nth-of-type(2) {
  margin-top: 56px;
}

.card:nth-of-type(3) {
  margin-top: 120px;
}

.card:nth-of-type(4) {
  margin-top: -121px;
}

.card:nth-of-type(5) {
  margin-top: -65px;
}

.card:nth-of-type(6) {
  margin-top: -1px;
}

.card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #2525321c 40%, #252532 100%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.card:hover::after {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.card_mobile::after {
  z-index: -1;
}

.navlink {
  justify-self: flex-end;
}

.button {
  position: absolute;
  bottom: 31px;
  left: 50%;
  transform: translateX(-50%) translateY(60%);
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.5px;
  font-weight: 700;
  width: 177px;
  height: 50px;
  overflow: hidden;
  border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
  border-width: 1px;
  border-style: solid;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.button:hover::before {
  opacity: 1;
}

.button_mobile {
  position: static;
  opacity: 1;
  transform: none;
  width: 150px;
}

.button_mobile:hover {
  transform: none;
}

.button_mobile:hover::before {
  opacity: 1;
}

.icon {
  width: 48px;
  height: 48px;
  margin-bottom: 58px;
  grid-area: icon;
}

.cardTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  grid-area: title;
}

.cardText {
  margin: 0;
  color: #b0b0b2;
  font-size: 14px;
  line-height: 28px;
  grid-area: text;
}

@media screen and (max-width: 1230px) {
  .title {
    font-size: 32px;
  }

  .cardList {
    gap: 10px;
  }

  .card {
    max-width: 100%;
  }

  .icon {
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 992px) {
  .row:first-of-type {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    row-gap: 5px;
  }

  .column:first-of-type {
    align-items: center;
    flex: 1 0 auto;
  }

  .cardList {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .card {
    height: auto;
  }

  .card:nth-of-type(2) {
    margin-top: 0;
  }

  .card:nth-of-type(3) {
    margin-top: 0;
  }

  .card:nth-of-type(4) {
    margin-top: 0px;
  }

  .card:nth-of-type(5) {
    margin-top: 0;
  }

  .card:nth-of-type(6) {
    margin-top: 0;
  }

  .text {
    text-align: center;
  }

  .column:last-of-type {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .cardList {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .card {
    padding: 30px 30px 30px 30px;
    height: auto;
  }

  .column:last-of-type {
    max-width: 95%;
  }
}

@media screen and (max-width: 480px) {
  .button_mobile {
    width: 120px;
    font-size: 12px;
  }
}
