.terms {
  margin-bottom: 150px;
  position: relative;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 788px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  max-width: 623px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
  z-index: 1;
  text-align: center;
}

.vrpersonContainer {
  font-size: 1px;
  z-index: 0;
}

.vrpersonContainer::before {
  content: '';
  position: absolute;
  background-image: url('../../assets/background-elements/fading-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  top: 254px;
  left: 0;
  width: 100%;
  height: 344px;
  z-index: -1;
}

.vrperson {
  position: absolute;
  height: 520px;
  width: 360px;
  z-index: -2;
}

.vrperson:first-of-type {
  top: 0;
  right: -6%;
}

.vrperson:last-of-type {
  top: 0;
  left: -6%;
  transform: scaleX(-1);
}

.subtitle {
  margin: 0;
  margin-bottom: 12px;
  display: inline-block;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  letter-spacing: -0.08px;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #d1d1d1;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: flex-start;
  z-index: 1;
}

.listItem {
  margin: 0;
  margin-bottom: 32px;
}

.subsubtitle {
  margin: 0;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #d1d1d1;
}

.sublist {
  margin: 0;
  padding-left: 25px;
  list-style-type: disc;
}

@media screen and (max-width: 1215px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 880px) {
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 430px) {
  .terms {
    margin-bottom: 100px;
  }

  .title {
    font-size: 32px;
    line-height: normal;
  }

  .text {
    max-width: 347px;
  }

  .vrpersonContainer::before {
    top: 39px;
    left: 0;
    width: 100%;
    height: 202px;
    z-index: 0;
  }

  .vrperson {
    position: absolute;
    height: 156px;
    width: 108px;
    z-index: -1;
  }

  .vrperson:first-of-type {
    top: 0;
    right: -9%;
  }

  .vrperson:last-of-type {
    top: 0;
    left: -9%;
    transform: scaleX(-1);
  }
}
