.about {
  margin-bottom: 150px;
  overflow-x: clip;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  column-gap: 68px;
}

.column {
  position: relative;
}

.column:last-of-type {
  max-width: 562px;
  flex: 1 0 50%;
}

.column:first-of-type {
  display: flex;
  align-items: center;
}

.background {
  position: absolute;
  width: 77%;
  height: 80%;
  left: -20px;
  bottom: 0;
  z-index: -2;
  background-color: var(--black-50);
}

.vrpersonContainer {
  max-width: 608px;
  max-height: 622px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.vrpersonContainer::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  top: 60%;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #0cbcf1c9 -5%, #e95ce9c5 100%);
  filter: blur(100px);
  border-radius: 10% 20% 100% 40%;
  -webkit-transform: rotate(-20deg) translate(0, -50%) translateZ(0);
  transform: rotate(-20deg) translate(0, -50%) translateZ(0);
}

.vrperson {
  width: 100%;
}

.video {
  margin-left: 0;
  position: absolute;
  bottom: -25px;
  width: 196px;
  height: 128px;
  overflow: hidden;
  background-color: var(--black-50);
}

.video::after {
  content: '';
  top: 50%;
  left: 50%;
  position: absolute;
  translate: -50% -50%;
  width: 28px;
  height: 28px;
  background-image: url('../../assets/icons/play-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.video:hover::after {
  transform: scale(1.2);
}

.videoImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background-elements/video-image2.png');
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.5s ease;
}

.video:hover .videoImage {
  transform: scale(1.1);
}

.title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.08px;
}

.text {
  margin: 0;
  margin-bottom: 24px;
  max-width: 528px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: var(--grey-2);
}

.list {
  margin: 0;
  margin-bottom: 32px;
  padding: 0 0 0 26px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  list-style-type: none;
}

.listItem {
  margin: 0;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.listItem::before {
  content: url('../../assets/icons/checkbox.svg');
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: -26px;
}

.button {
  position: relative;
  width: 168px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--white);
  background-image: var(--linear);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 14px;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--linear);
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}

.button:hover:before {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .container {
    column-gap: 30px;
  }

  .title {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
  }

  .column {
    flex: 0 1 50%;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
    }

    .background {
      right: 0;
      left: auto;
      width: 150%;
    }

    .video {
      right: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .video {
    width: 147px;
    height: 96px;
  }

  .videoImage {
    scale: 0.7;
  }
}
