.articlePage {
  padding-top: 165px;
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.path {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
}

.pathText {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}

.pathSpan {
  font-size: 16px;
  font-weight: 400;
  color: #d1d1d1;
}

.arrow {
  transform: rotate(-90deg);
}

.content {
  display: flex;
  column-gap: 77px;
}

.column:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 790px;
}

.articleSpan {
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px 10px;
  border-radius: 16px;
  user-select: none;
}

.articleTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 0.08px;
  font-weight: 600;
}

.articleSubtitle {
  margin: 0;
  margin-bottom: 24px;
  display: inline-block;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
}

.articleMainImage {
  margin-bottom: 30px;
}

.articleText {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #d1d1d1;
}

.articleImageContainer {
  display: flex;
  column-gap: 34px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.articleImage {
}

.postTagsTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
}

.postTags {
  margin: 0;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  filter: saturate(2.5);
}

.shareTitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}

.shareContainer {
  display: flex;
  column-gap: 24px;
}

.shareIcon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.shareIcon:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.column:last-of-type {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  row-gap: 64px;
}

.subsubtitle {
  margin: 0;
  margin-bottom: 32px;
  font-size: 22px;
  font-weight: 500;
}

.hashTags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  max-width: 340px;
}

.hashTag {
  margin: 0;
  font-size: 10px;
  line-height: 14.5px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px 10px;
  border-radius: 16px;
  user-select: none;
}
