.header {
  margin-bottom: 13px;
  position: relative;
}

.header::before {
  position: absolute;
  content: '';
  background-image: url('../../assets/site-background/topWaves.svg');
  right: 0;
  top: 0;
  width: 736px;
  height: 353.2px;
  z-index: -2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 31px 0 31px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
}

.logoContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
  flex: 1;
}

.logo {
  width: 101px;
  height: 30px;
  user-select: none;
}

.label {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -2px;
  width: 59px;
  height: 25px;
  background-image: linear-gradient(90deg, #ffffff, #00000002);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  user-select: none;
  -webkit-text-stroke: 0.2px #000;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 64px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  align-items: center;
  flex: 1;
}

.navigationElement {
  position: relative;
}

.link {
  text-decoration: none;
  color: #d1d1d1;
  display: inline-block;
  font-weight: 300;
  padding: 10px 0 10px 0;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s;
}

.link:hover {
  color: #ffffff;
}

.link:active {
  color: #ffffff;
}

.spoiler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  padding-left: 4px;
  background: none;
  border: none;
  outline: none;
  position: relative;
}

.arrow::after {
  content: '';
  background-image: url('../../assets/icons/arrowDown.svg');
  background-position: center;
  position: absolute;
  height: 15px;
  width: 15px;
  top: -4.5px;
  left: 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.active::after {
  content: '';
  background-image: url('../../assets/icons/arrowDown.svg');
  background-position: center;
  position: absolute;
  height: 15px;
  width: 15px;
  top: -6px;
  left: 2px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.menu {
  position: absolute;
  padding: 0px;
  height: 0;
  overflow: hidden;
  width: 180px;
  top: 100%;
  left: 0;
  z-index: 4;
  padding-left: 15px;
  list-style-type: none;
  transition: height 0.2s ease, padding 0.2s ease;
  background: linear-gradient(#252532, #252532) 50% 50% / calc(100% - 2px) calc(100% - 2px) no-repeat,
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
}

.menuElement {
  padding-top: 3px;
  cursor: pointer;
  color: #b0b0b2;
  transition: color 0.4s ease-in-out;
}

.menuElement:hover {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.menuElement:last-of-type {
  padding-bottom: 3px;
}

.menuActive {
  height: 127px;
  padding: 20px;
  transition: height 0.2s ease, padding 0.2s ease;
}

.buttonContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.button {
  cursor: pointer;
  width: 126px;
  height: 52px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent;
  color: #d1d1d1;
  border: 1px solid white;
  position: relative;
  border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
  border-width: 1px;
  border-style: solid;
  user-select: none;
  transition: color 0.3s ease;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.button:hover::before {
  opacity: 1;
}

.button:hover {
  color: white;
}

@media screen and (max-width: 1215px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
