.partners {
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 58px;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1055px;
  max-height: 741px;
}

.imageContainer::before {
  position: absolute;
  content: '';
  top: 35%;
  left: 50%;
  width: 657px;
  height: 292px;
  background: linear-gradient(90deg, #0cbcf1c9 -5%, #e95ce9c5 100%);
  filter: blur(100px);
  border-radius: 10% 20% 100% 40%;
  -webkit-transform: rotate(-10deg) translateX(-50%) translateY(50px) translateZ(0);
  transform: rotate(-10deg) translateX(-50%) translateY(50px) translateZ(0);
  z-index: -1;
}

.circle {
  background-image: url('../../assets/background-elements/logo-ipsum-background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 102px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1 {
  position: absolute;
  bottom: 30%;
  left: 2.5%;
  animation: scale 1s ease-in-out infinite alternate;
  animation-delay: 0.1s;
}

.circle2 {
  position: absolute;
  bottom: 58%;
  left: 10%;
  animation: scale 1s ease-in-out infinite alternate;
  animation-delay: 0.3s;
}

.circle3 {
  position: absolute;
  bottom: 76%;
  left: 25%;
  animation: scale 1s ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

.circle4 {
  position: absolute;
  bottom: 84%;
  left: 45.5%;
  animation: scale 1s ease-in-out infinite alternate;
  animation-delay: 0.7s;
}

.circle5 {
  position: absolute;
  bottom: 76%;
  right: 25%;
  animation: scale 1s ease-in-out infinite alternate;
  animation-delay: 0.9s;
}

.circle6 {
  position: absolute;
  bottom: 58%;
  right: 10%;
  animation: scale 1s ease-in-out infinite alternate;
  animation-delay: 0.11s;
}

.circle7 {
  position: absolute;
  bottom: 30%;
  right: 2.5%;
  animation: scale 1s ease-in-out infinite alternate;
  animation-delay: 0.12s;
}

.logo {
  width: 80px;
  height: 20px;
}

.halfCircle {
  max-width: 100%;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 32px;
  }

  .circle {
    width: 11vw;
    height: 11vw;
  }

  .logo {
    width: 8vw;
    height: 4vw;
  }

  .halfCircle {
    max-width: 100vw;
  }

  .imageContainer::before {
    width: 496px;
    height: 207px;
  }
}

@media screen and (max-width: 768px) {
  .partners {
    margin-bottom: 100px;
  }

  .title {
    line-height: normal;
    margin-bottom: 30px;
  }

  .imageContainer::before {
    top: 30%;
    width: 467px;
    height: 173px;
    filter: blur(70px);
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 24px;
  }

  .imageContainer::before {
    top: 30%;
    left: 50%;
    width: 315px;
    height: 148px;
    filter: blur(52px);
  }
}

@media screen and (max-width: 480px) {
  .imageContainer::before {
    top: 27%;
    left: 50%;
    width: 259px;
    height: 125px;
    filter: blur(52px);
  }
}

@media screen and (max-width: 430px) {
  .imageContainer::before {
    top: 25%;
    left: 50%;
    width: 238px;
    height: 109px;
    filter: blur(52px);
  }
}