.footer {
  padding-bottom: 30px;
  position: relative;
}

.footer:before {
  position: absolute;
  content: '';
  background-image: url('../../assets/background-elements/bottomWaves.svg');
  bottom: 0;
  left: 0;
  width: 1011px;
  height: 498px;
  z-index: -2;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.top {
  display: flex;
  border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 33px;
}

.logosContainer {
  display: flex;
  flex-direction: column;
  row-gap: 140px;
  padding-bottom: 35px;
  padding-right: 220px;
}

.mainLogo {
  width: 101px;
  height: 30px;
  cursor: pointer;
}

.socialLogos {
  display: flex;
  column-gap: 20px;
}

.logoBackground {
  background-image: url('../../assets/background-elements/social-bg.svg');
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.socialLogo {
  transition: transform 0.3s ease;
  width: 22px;
  height: 22px;
}

.logoBackground:hover .socialLogo {
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.linksTitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}

.linksList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.link {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #d1d1d1;
  display: flex;
  column-gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.link:hover {
  transition: color 0.3s ease;
  color: #ffffff;
}

.link:hover .linkIcon {
  transition: transform 0.3s ease, filter 0.3s ease;
  transform: scale(1.2);
  filter: brightness(0) invert(1);
}

.linkIcon {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.bottom {
  display: flex;
  justify-content: center;
}

.copyright {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 32px;
}

@media screen and (max-width: 1200px) {
  .logosContainer {
    padding-right: 50px;
  }
}

@media screen and (max-width: 992px) {
  .top {
    flex-direction: column;
  }

  .logosContainer {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .logosContainer {
    column-gap: 30px;
    justify-content: space-between;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 30px;
  }

  .linksColumn:last-of-type {
    grid-column: 1 / -1;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .logosContainer {
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }

  .linksList {
    row-gap: 10px;
  }
}