.testimonials {
  margin-bottom: 100px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContainer {
  position: absolute;
  top: 111px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin: 0;
  margin-bottom: 12px;
  display: inline-block;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5%;
  font-weight: 600;
  text-align: center;
}

.imageContainer {
  position: relative;
}

.client {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.clientImage {
  border: 0.79px solid #18181b;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 5;
}

.clientOne {
  position: absolute;
  top: 24%;
  left: 3%;
}

.clientTwo {
  position: absolute;
  top: 20%;
  left: 58%;
}

.clientThree {
  position: absolute;
  top: 51%;
  right: 11.5%;
}

.clientFour {
  position: absolute;
  bottom: 25%;
  left: 48%;
}

.clientFive {
  position: absolute;
  bottom: 21%;
  left: 12%;
}

.clientSix {
  position: absolute;
  bottom: 6%;
  right: 20%;
}

.button {
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
  background: url('../../assets/bg-inactive.svg') center / contain no-repeat;
  width: 75px;
  height: 75px;
  padding: 0;
  position: relative;
}

.button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url('../../assets/bg-active.svg') center / contain no-repeat;
  z-index: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button:hover::before {
  opacity: 1;
}

.button::after {
  position: absolute;
  content: '';
  top: 20px;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(90deg, #0cbcf1c9 -30%, #e95ce9c5 100%);
  filter: blur(10px);
  border-radius: 10% 20% 100% 40%;
  transform: rotate(-20deg);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button:active::after {
  opacity: 1;
}

.messageBox {
  position: absolute;
  width: 297px;
  cursor: default;
  left: 100px;
  background-image: url('../../assets/message-box.svg');
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background-size: cover;
}

.messageBoxActive {
  opacity: 1;
}

.messageContainer {
  padding: 18px 19px 13px 23px;
}

.message {
  margin: 0;
  padding: 0;
  color: #d1d1d1;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.name {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.company {
  margin: 0;
  display: inline;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d1d1d1;
  display: inline-block;
  border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
  border-width: 1px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.active {
  opacity: 1;
}

.active::before {
  opacity: 1;
}

.active::after {
  opacity: 1;
}
