.prices {
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.textContainer {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: var(--grey-2);
  max-width: 750px;
  text-align: center;
}

.row:last-of-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 62px;
}

.pricingCard {
  background-color: var(--black-50);
  box-sizing: border-box;
  border-image: linear-gradient(90deg, #585858 0%, #7e7e7e13 100%) 1;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pricingCard:hover {
  border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
}

.pricingCard:hover .cardButton::before {
  color: var(--white);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.pricingCard:hover .cardButton {
  color: var(--white);
}

.cardContent {
  padding: 35px 33px 39px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.cardTitle {
  margin: 0;
  margin-bottom: 9px;
  font-size: 18px;
  font-weight: 400;
}

.cardPrice {
  margin: 0;
  margin-bottom: 9px;
  font-size: 64px;
  font-weight: 600;
}

.cardPriceSpan {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #71717a;
}

.cardText {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey-1);
  max-width: 265px;
}

.cardList {
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 240px;
  margin-bottom: 50px;
  padding-left: 25px;
  list-style-type: none;
}

.cardListItem {
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.cardListItem::before {
  position: absolute;
  content: url('../../assets/icons/check-circle.svg');
  width: 20px;
  height: 20px;
  top: 0;
  left: -26px;
}

.cardButton {
  cursor: pointer;
  width: 292px;
  height: 55px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  border: none;
  padding: 0;
  outline: none;
  background-color: #262628;
  color: var(--grey-2);
  position: relative;
  border-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%) 1;
  border-width: 1px;
  border-style: solid;
  user-select: none;
  transition: color 0.3s ease;
  overflow: hidden;
  align-self: center;
  z-index: 1;
  grid-area: cardButton;
}

.cardButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.cardButton:hover::before {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.cardButton:hover {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 1280px) {
  .row:last-of-type {
    column-gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 1160px) {
  .row:last-of-type {
    column-gap: 20px;
    justify-content: center;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .pricingCard {
    display: flex;
    justify-content: center;
    width: 85%;
    justify-self: center;
  }

  .cardText {
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 28px;
    color: var(--grey-1);
    max-width: 100%;
  }

  .cardList {
    max-width: 100%;
    margin-bottom: 0px;
  }

  .cardContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-areas:
      'top bottom'
      'cardButton bottom';
    width: 100%;
  }

  .top {
    align-self: center;
    justify-self: center;
  }

  .cardTitle {
    text-align: center;
  }

  .cardPrice {
    font-size: 85px;
  }

  .cardButton {
    justify-self: center;
    align-self: flex-end;
  }
}

@media screen and (max-width: 992px) {
  .pricingCard {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .pricingCard {
    width: 100%;
  }

  .title {
    font-size: 32px;
  }

  .cardPrice {
    font-size: 64px;
  }

  .cardButton {
    width: 230px;
  }
}

@media screen and (max-width: 576px) {
  .pricingCard {
    width: 100%;
  }
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .cardButton {
    align-self: center;
    width: 292px;
  }

  .cardList {
    margin-bottom: 50px;
  }

  .bottom {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 430px) {
  .cardContent {
    padding: 29px 5px 30px 10px;
  }

  .cardText {
    text-align: center;
  }

  .cardButton {
    width: 250px;
  }
}
