@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

body {
  background-color: #18181b;
  font-family: 'ChakraPetch', sans-serif;
  color: #ffffff;
}

#root {
  margin: 0 auto;
  overflow-x: clip;
}

section,
footer {
  animation: fadeIn 0.4s ease-in-out forwards;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #e95ce9 transparent;
  border-radius: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
