@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

#root {
  margin: 0 auto;
  overflow-x: clip;

  /* variables */
  --black-100: #18181b;
  --black-50: #252532;
  --grey-1: #b0b0b2;
  --grey-2: #d1d1d1;
  --white: #ffffff;
  --linear: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  --purple: #ca6aeb;
  --blue: #19b5f1;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #e95ce9 transparent;
  border-radius: 20px;
}

body {
  background-color: #18181b;
  font-family: 'ChakraPetch', sans-serif;
  color: #ffffff;
}

header,
section,
footer {
  animation: fadeIn 0.4s ease-in-out forwards;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Headings */
.heading1 {
  font-size: 64px;
  font-weight: 600;
  line-height: normal;
}

.heading2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
}

.heading3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 58px;
}

.heading4 {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

.heading5 {
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}

.heading6 {
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
}

.heading7 {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.heading8 {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.heading9 {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.heading10 {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.heading11 {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.heading12 {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

/* Bodies */
.body1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.body2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.body3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.body4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

/* Captions */
.caption1 {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.caption2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.caption3 {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
}

/* Buttons */
.button1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}

.button2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: var(--white);
}

.gradient-text {
  margin-bottom: 12px;
  display: inline-block;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

/* Simplebar scrollbar */
.simplebar-scrollbar {
  background-color: #ffffff;
  width: 2px;
  border-radius: 32px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100px;
}

.simplebar-track.simplebar-vertical {
  background-color: #ffffff54;
  width: 2px;
  bottom: 32px;
  border-radius: 32px;
}

/* fixes a bug in simplebar when resizing the window */
.simplebar-placeholder {
  width: auto !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
