.benefits {
  margin-bottom: 120px;
}

.benefits_aboutus {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
  z-index: 1;
  position: relative;
}

.content {
  border: 1px solid #b0b0b2;
  border-image: linear-gradient(90deg, #585858 0%, #7e7e7e13 100%) 1;
  display: flex;
  column-gap: 50px;
  justify-content: center;
  background-color: #252532;
  padding: 42px 64px 53px 64px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 324px;
}

.icon {
  width: 70px;
  height: 70px;
  margin-bottom: 42px;
}

.title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
}

.description {
  margin: 0;
  font-size: 14px;
  line-height: 28px;
  color: #b0b0b2;
}

@media screen and (max-width: 992px) {
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    padding: 35px;
  }

  .card:nth-child(3) {
    grid-column: 1 / -1;
  }

  .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding: 25px;
  }
}
