.notFoundPage {
  padding-top: 200px;
  margin-bottom: 150px;
  position: relative;
}

.notFoundPage::before {
  position: absolute;
  content: '';
  background-image: url('../../assets/background-elements/topWaves.svg');
  background-repeat: no-repeat;
  background-position: right;
  right: 0;
  top: 0;
  width: 736px;
  height: 353.2px;
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 43px;
  padding: 0 16px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column:last-of-type {
  position: relative;
}

.textContainer {
  max-width: 640px;
}

.title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.08px;
  font-weight: 600;
}

.text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #d1d1d1;
}

.textParagraph {
  margin: 0;
}

.list {
  margin: 0;
  padding-left: 24px;
}

.list:last-of-type {
  margin-bottom: 24px;
}

.listItem {
  margin: 0;
}

.button {
  width: 168px;
  height: 50px;
  outline: none;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 14px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  z-index: -1;
}

.button:hover:before {
  opacity: 1;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 635px;
  z-index: -1;
  right: -40%;
}

.imageContainer::before {
  position: absolute;
  content: '';
  top: 40%;
  left: 50%;
  width: 78%;
  height: 58%;
  background: linear-gradient(4deg, #0cbcf1c9 0%, #e95ce9c5 100%);
  filter: blur(80px);
  border-radius: 91% 32% 177% 60%;
  transform: rotate(0deg) translateX(-50%) translateY(-50px);
  z-index: -1;
}

.image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .imageContainer {
    right: -86%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
    line-height: normal;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
  }

  .imageContainer {
    right: 0;
    left: 40%;
  }
}

@media screen and (max-width: 576px) {
  .notFoundPage {
    padding-top: 150px;
    margin-bottom: 150px;
  }

  .imageContainer {
    right: 0;
    left: 3%;
  }
}

@media screen and (max-width: 480px) {
  .notFoundPage {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .imageContainer {
    right: 0;
    left: -12%;
  }
}
